<a href="/admin/product" class="list-group-item">
    学生信息首页
</a>
<a href="/admin/product/add" class="list-group-item">录入学生信息</a>
<a href="/admin/product/inputScore" class="list-group-item">
    录入学生成绩</a>

<a href="/admin/product/search" class="list-group-item">查询学生基本信息</a>

<a href="/admin/product/searchScore" class="list-group-item">
    查询课程成绩</a>
<a href="/admin/product/searchteacher" class="list-group-item">
    查询某学生的任课老师</a>
